.container{
  padding-top: 30px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
}

.image{
  width: 150px;
  height: 150px;
}

.title{
  font-size: 28px;
}

.metrics{
  padding-top: 80px;
  padding-left: 20px;
}